<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{appTitle}}</title>
</head>
<body class="index-page">
  <h1>{{appTitle}}</h1>
  <p>News for everyone!</p>

  {{#if isAdmin}}
    <button id="publish-news" class="button"><a href="/admin/publish-news">Publish News</a></button>
    <button class="edit-button"><a href="/admin/edit-news">Edit</a></button>
  {{/if}}
  
  <button id="login" class="button"><a href="/auth/login">login</a></button>
  <button id="logout" class="button"><a href="/auth/logout">logout</a></button>
  <button id="signup" class="button"><a href="/auth/signup">signup</a></button>

  <br>
  <br>

  <div class="navbar">
    <img src="./images/3749906.jpg" alt="Logo">
    
    <a href="/articles/health">Health</a>
    <a href="/articles/sports">Sports</a>
    <a href="/articles/science">Science</a>
    <a href="/articles/economy">Economy</a>
    <a href="/articles/politics">Politics</a>
    <a href="/articles/international">International</a>
  </div>
  
  <div class="contenido">
    {{#each newsArticles}}
      <div class="news-article">
        <h3>{{section}}</h3>
        <h2><a class="article-link" href="/articles/{{_id}}">{{title}}</a></h2>
        <p>Author: {{author}}</p>
        
        <img src="{{imageLink}}" alt="Article Image">
      </div>
    {{/each}}
  </div>
</body>
</html>
